section {
    padding: 3rem 0;
    margin-top: 2rem;
}

.dark {
    background-color: #cde9a9;
}

.profile_image
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto 1rem auto;
    display: block;
}

h1 {
    --pico-font-family: Pacifico, cursive;
    --pico-font-weight: 400;
    --pico-typography-spacing-vertical: 0.5rem;
  }